*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Roboto', sans-serif;
    background: var(--color-light-gray);
    /* font-family: sans-serif; */

}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* 
===========
html backup
=========== */

/* customer properties */
:root {
    --color-light: rgb(255, 255, 255);
    --color-light-gray: rgb(240, 240, 240);
    --color-gray: rgb(150, 150, 150);
    --color-dark: rgb(30, 30, 30); 
    --color-light-black: rgb(50, 50, 50);
    --color-accent: rgb(22, 224, 189);
    --color-orange: rgb(252, 81, 48);
    --background-gray: rgba(242, 242, 242, 0.949);

    --font-size-h1: 3rem;
    --font-size-h2: 2.25rem;
    --font-size-h3: 1.25rem;
    --font-size-body: 1rem;
    --font-size-medium: 1.75rem;
    --font-size-large: 4rem;
}

/* 
=========
base.html
=========
*/

.header {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(128, 93, 93, 0.5)),url("images/header_img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* banner */
.banner {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 4rem;
    
}
.banner-title {
    font-size: var(--font-size-large);
    letter-spacing: 0.15rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    color: var(--color-light)
}
.banner-jobs {
    letter-spacing: 0.15rem;
    text-transform: capitalize;
    font-size: var(--font-size-medium);
    color: var(--color-light)
}
.banner-title > strong {
    font-weight: 500;
    color: var(--color-accent);
}
/* end of banner */

/* nav */
.nav {
    position: absolute;
    top: 0;
    text-align: start;
    width: 100%;
    padding: 1rem 0;
    background: rgba(0, 0, 0, 0.7);
}
.nav > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.nav > ul > li > a {
    color: var(--color-light);
    padding: 1rem;
    letter-spacing: 0.1rem;
}
.nav > ul > li > a:hover {
    background: rgb(0, 128, 128);
}
/* end of nav */

/* footer */
.scroll-up-button {
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 10px;
    z-index: 1;
}
.show-scroll-up-button {
    display: block;
}
.scroll-up-button > a  {
    display: inline-block;
    padding:  0.5rem 1.5rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
}
.scroll-up-button >  a > i {
    font-size: 1.1rem;
    color: var(--color-light);
}
/* end of footer */

/* 
================
end of base.html
================ 
*/

/* 
=========
home.html
========= */

/* about */
.about-container {
    scroll-behavior: smooth;
}
.about {
    width: 40%;
    margin: 0 auto;
    padding: 3rem 0;
    padding-bottom: 0;
}
.about-title {
    font-size: var(--font-size-h2);
    color: var(--color-dark);
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}
.about-content {
    margin-top: 1rem;
}
.about-img {
    position: relative;
    margin-left: 0.7rem
}
.about-img > img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}
.about-img::before {
    content: "";
    position: absolute;
    left: -12px;
    bottom: -12px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: rgb(62, 155, 139);
}
.about-info {
    margin: 2rem 0;
    margin-bottom: 0;
}
.about-info-text {
    color: var(--color-light-black);
    letter-spacing: 0.05rem;
    line-height: 1.6;
    margin-top: 0.5rem;
}
/* end of about */

/* skills */
.skills {
    width: 40%;
    margin: 0 auto;
    padding: 3rem 0;
}
.skills-title {
    font-size: var(--font-size-h2);
    color: var(--color-dark);
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
}
.skills-content {
    margin-top: 1rem;
}
.python,
.django,
.css, .js {
    width: 100;
    flex: 0 0 100%;
    padding: 0.5rem;
    font-size: var(--font-size-h2);
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 900;
    border-radius: 5px;
    letter-spacing: 0.2rem;
}
.python {
    color: rgb(247, 247, 247);
    background: rgb(52, 109, 158);
}
.django {
    color: var(--color-light);
    background: rgb(4, 56, 41);
}
.css {
    color: rgb(247, 247, 247);
    background: rgb(1, 107, 178);
}
.js {
    color: rgb(247, 247, 247);
    background: rgb(237, 126, 49);
}
/* end of skills */

/* 
================
end of home.html
================ */

@media (max-width: 1366px) {
    .about, .skills {
        width: 546.4px
    }
}
@media (max-width: 570px) {
    .about, .skills {
        width: 513px;
        /* width: 90%; */
    }
}
@media (max-width: 530px) {
    .about, .skills {
        width: 477px;
        /* width: 90%; */
    }
}
@media (max-width: 500px) {
    .about, .skills {
        width: 450px;
        /* width: 90%; */
    }
}
@media (max-width: 470px) {
    .about, .skills {
        /* width: 450px; */
        width: 90%;
    }
    .about-img::before {
        left: -8px;
        bottom: -8px;
    }
}

/* 
==================
end of html backup
================== */