.footer-conainer {
    padding: 3rem 0;
    background: rgb(30, 30, 30);
}

.contact-info {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 4rem;
}

.footer-header-container {
    justify-self: center;
    display: grid;
    gap: 1rem;
}

.footer-header {
    justify-self: center;
    color: white;
    padding-bottom: 0.5rem;
    text-align: center;
    border-bottom: 2px solid rgb(24, 188, 209);
    font-weight: 600;
}

.footer-header-container > p {
    justify-self: center;
    letter-spacing: 0.09rem;
    line-height: 1.6;
    color: hsl(0, 0%, 80%);
    text-align: center;
    text-wrap: balance;
    max-width: 500px;
}

.contact-container {
    display: grid;
    align-content: start;
    align-items: start;
    gap: 2rem;
}

.message-form-container {
    display: grid;
    align-content: start;
    align-items: start;
    gap: 2.5rem;
}

.email-container {
    margin-top: 3rem;
}

.email-container,
.phone-number-container {
    justify-self: center;
    display: grid;
    gap: 0.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 0.03rem;
    transition: color 200ms linear;
}

.email-container > span,
.phone-number-container > span {
    color: hsl(0, 0%, 60%);
    letter-spacing: 0.05rem;
    transition: color 200ms linear;
}

.email > i,
.phone > i {
    font-size: 1.3rem;
    margin-right: 0.2rem;
}

@media (hover) {
    .email-container:hover,
    .phone-number-container:hover {
        color: rgb(24, 188, 209)
    }

    .email-container:hover > span,
    .phone-number-container:hover > span {
        color: rgb(24, 188, 209)
    }
}

.message-form {
    display: grid;
    gap: 1rem;
}

.message-form > label {
    color: hsl(0, 1%, 70%);
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.message-form > input[type='email'],
.message-form > input[type='text'] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.8rem 0 0.5rem 0rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    border-bottom: 2px solid rgb(141, 141, 141);
}

.message-form > input:focus {
    outline: none;
}

.message-form > textarea {
    resize: horizontal;
    border:none;
    background: transparent;
    color: white;
    padding: 0.8rem 0 0.5rem 0rem;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    max-height: 150px;
    resize: none;
    border-bottom: 2px solid rgb(141, 141, 141);
}

.message-form > textarea:focus {
    outline: none;
}

.contact-submit {
    justify-self: end;
    font-size: 1.1rem;
    font-weight: 500 !important;
    border: none;
    padding: 1rem 2rem;
    padding-top: 1rem;
    color: white;;
    margin-top: 1rem;
    border-radius: 30px;
    cursor: pointer;
    background: rgb(0, 131, 148);
    letter-spacing: 0.03rem;
    transition: background 0.25s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    animation: spinner;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinner {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

@media (hover) {
    .contact-submit:hover {
        background: rgb(0, 68, 80);
        transition: background 0.25s linear
    }
}

.footer-container-2 {
    display: grid;
    background: rgb(20, 20, 20)
}

.social-links-container {
    padding: 1.5rem 0;
    display: grid;
    justify-content: center;
    gap: 1rem;
}

.social-links-container > h3 {
    letter-spacing: 0.05rem;
    color: rgb(24, 188, 209);
    font-size: 1.3rem;
    font-weight: 400;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-links > a {
    font-size: 1.8rem;
    color: white;
}

@media screen and (min-width: 800px) {

    .contact-info {
        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    .footer-header-container {
        justify-self: start;
    }

    .footer-header {
        justify-self: start;
        text-align: start;
    }
    
    .footer-header-container > p {
        justify-self: start;
        text-align: start;
    }

    .email-container,
    .phone-number-container {
        text-align: start;
        justify-self: start;
    }

    .message-form > textarea {
        max-height: 100px;
    }
}