 ::before,
 ::after,
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


 .navbar {
    background: rgb(20, 20, 20);
    display: grid;
}

.nav-links-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    justify-content: space-between;
}

.brand-name >
.brand-link {
    color: rgb(26, 204, 228);
    font-size: 1.4rem;
}

.nav-toggle-btn > .fa-bars,
.nav-toggle-btn > .fa-times {
    color: var(--light);
    font-size: 1.5rem;
    cursor: pointer;
}

.nav-toggle-btn > .fa-times {
    display: none;
}

.nav-links {
    position: absolute;
    z-index: 2;
    top: 56px;
    right: 0;
    height: 100vh;
    width: 0;
    display: grid;
    gap: 1.5rem;
    align-content: start;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: width 200ms linear;
}

.show-nav-links {
    width: 100vw;
    opacity: 1;
    padding: 2rem;
    background:rgba(0, 0, 0, 0.900);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(212, 212, 212);
}

.nav-link > i {
    font-size: 1.5rem;
    color: white;
}

@media (hover) {
    .nav-link:hover {
        color: rgb(26, 204, 228);
    }
    .nav-link:hover > i {
        color: rgb(26, 204, 228);
    }
}

.hero-container {
    display: grid;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
    margin-bottom: 3rem;
}

.hero-image > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.hero-text-container {
    height: 100%;
    display: grid;
    align-content: start;
    gap: 2rem;
}

.hero-header {
    max-width: 500px;
    margin: 0 auto;
}

.hero-text-header {
   text-align: center;
   text-wrap: balance;
   letter-spacing: 0.05rem;
   color: white;
   line-height: 1.3;
   font-size: 2.5rem;
}

.hero-text-header > span {
    display: block;
}

.hero-text-header > span > span {
    border-bottom: 3px solid #18bcd1;
}

.hero-text-content > p {
    max-width: 450px;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: 0.09rem;
    text-align: center;
    text-wrap: balance;
    color: rgb(202, 202, 202);
}

.hero-contact-me-btn {
    justify-self: center;
    color: hsl(0, 0%, 100%);
    padding: 1rem 2rem;
    padding-top: 1rem;
    background: rgb(0, 131, 148);
    border-radius: 30px;
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
}

@media screen and (min-width: 600px) {
    .nav-toggle-btn {
        display: none;
    }

    .nav-links {
        position: initial;
        height: auto;
        width: auto;
        display: flex;
        gap: 2rem;
        align-content: center;
        justify-content: space-between;
        overflow: visible;
        white-space: wrap;
        opacity: 1;
        transition: none;
    }

}

@media screen and (min-width: 700px) {

    .navbar {
        gap: 0;
    }

    .hero-container {
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
    }

    .hero-image {
        grid-column: 2 / sapn 1;
        max-width: 480px;
        margin: 0 0 0 auto;
    }

    .hero-text-container {
        grid-column: 1 / span 1;
        grid-row:  1 / span 1;
    }

    .hero-header {
        margin: 0;
        max-width: initial;
    }

    .hero-text-header {
        text-align: start;
        font-size: 2.1rem;
    }

    .hero-text-content > p {
        text-align: start;
        margin: 0;
    }

    .hero-contact-me-btn {
        justify-self: start;
    }
}

@media screen and (min-width: 900px) {

    .hero-header {
        max-width: 900px;
    }

    .hero-text-header {
        font-size: 2.8rem;
    }

    .hero-text-content > p {
       font-size: 1.1rem

    }
}

@media screen and (min-width: 1000px) {

    .hero-container {
        margin: 3rem auto;
        margin-bottom: 4rem;
    }

    .hero-text-header {
        font-size: 3.1rem;
    }
}

@media screen and (min-width: 1100px) {

    .hero-text-header {
        font-size: 3.4rem;
    }
}

@media screen and (min-width: 1150px) {

    .hero-text-header {
        font-size: 3.6rem;
    }
}

@media screen and (min-width: 1200px) {
    .hero-container {
        justify-content: center;
    }

    .hero-text-container {
        align-content: center;
    }

    .hero-text-header {
        font-size: 3.8rem;
    }
}
