
.projects-header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

 .navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
}

.navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 809px;
}

.brand-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-buttons {
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

.fa-bars, .fa-times {
    color: var(--light);
    font-size: 1.7rem;
    cursor: pointer;
}

.navigation-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigation-items-mobile {
    display: none;
}

.brandName-link {
    display: inline-block;
    color: var(--light);
    font-size: 1.6rem;
    font-weight: 500;
}

.brandName-link > span {
    color: rgb(0, 204, 255)
}

.navigation-link {
    display: inline-block;
    padding: 1.5rem 0;
    color: var(--light);
    margin: 0 1rem;
    font-weight: 400;
}

.navigation-link:hover {
    color: var(--gray);
}

@media (min-width: 1366px) {
    .navigation-wrapper{
        width: 809.4px;
    }
}

@media (max-width: 809px) {
    .navigation-wrapper {
        width: 728.1px;
    }
}

@media (max-width: 728.1px) {
   .projects-header {
       position: static;
   }
    .navigation-wrapper {
        width: 90%;
    }

    .brand-wrapper {
        flex: 0 0 100%;
        width: 100%;
    }

    .brandName {
        margin: 0 auto;
    }

    .brandName-link {
        padding: 1rem 0;
    }

    .navigation-buttons {
        display: flex;
        padding: 0;
    }

    .fa-times {
        display: none;
    }

    .navigation-items {
        display: none;
    }

    .navigation-link {
        font-size: 1.3rem;
        padding: 1rem 0;
    }

    .navigation-items-mobile {
        display: block;
        position: absolute;
        z-index: 1;
        transform: translateX(-100%);
        transition: transform 0.25s ease-in-out;
        background: rgba(0, 0, 0, 0.8);
        padding: 1rem 0;
        min-height: 100vh;
    }

    .show-navigation-items-mobile {
        width: 100%;
        transform: translateX(0);
        transition: transform 0.25s ease-in-out;
    }

}
