
 .navigation {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}

.navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
}

.brand-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navigation-buttons {
    /* padding: 0 1.2rem; */
    /* margin-right: 1rem; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

.fa-bars, .fa-times {
    color: var(--light);
    font-size: 1.7rem;
    cursor: pointer;
}

.navigation-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navigation-items-mobile {
    display: none;
}

.brandName-link {
    display: inline-block;
    color: var(--light);
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 1rem;
}

.brandName-link > span {
    color: rgb(0, 204, 255)
}

.navigation-link {
    display: inline-block;
    padding: 1.5rem 0;
    color: var(--light);
    margin: 0 1rem;
    font-weight: 400;
    letter-spacing: 0.06rem;
}

.navigation-link:hover {
    color: var(--gray);
}

@media (min-width: 1366px) {
    .navigation-wrapper{
        width: 1024.5px;
    }
}

@media (max-width: 1366px) {

    .navigation-wrapper{
        width: 1024.5px;
    }
}

@media (max-width: 1024px) {
    
    .navigation-wrapper{
        width: 921px;
        /* width: 90%; */
    }
}

@media (max-width: 921px) {

    .navigation-wrapper{
        width: 828px;
        /* width: 90%; */
    }
}

@media (max-width: 828px) {

    .navigation-wrapper{
        width: 745px;
        /* width: 90%; */
    }
}

@media (max-width: 745px) {
    .navigation-wrapper {
        width: 100%;
    }

    .navigation {
        position: static;
    }

    .brand-wrapper {
        flex: 0 0 100%;
        width: 100%;
    }

    .brandName {
        margin: 0 auto;
    }

    .brandName-link {
        padding: 1rem 0;
    }

    .navigation-buttons {
        display: flex;
        padding-left: 1rem;
    }

    .fa-times {
        display: none;
    }

    .navigation-items {
        display: none;
    }

    .navigation-link {
        font-size: 1.3rem;
        padding: 1rem 0;
    }

    .navigation-items-mobile {
        display: block;
        position: absolute;
        /* z-index: 1; */
        transform: translateX(-100%);
        transition: transform 0.25s ease-in-out;
        background: rgba(0, 0, 0, 0.8);
        padding: 1rem 0;
        min-height: 100vh;
        top: 61px;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    .show-navigation-items-mobile {
        width: 100%;
        transform: translateX(0);
        transition: transform 0.25s ease-in-out;
    }

}
