*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {font-size: 3.25rem;}
h2 {font-size: 2.25rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.75rem;}
h5 {font-size: 1.35rem;}
h6 {font-size: 1rem;}

html {scroll-behavior: smooth;}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(230, 230, 230);
}

a {text-decoration: none;}

li {list-style-type: none;}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: var(--black)
}

p, li, a, button{
    letter-spacing: 0.05rem;
}

:root {
   
    --black: rgb(30, 30, 30);
    --light_dark: rgb(60, 60, 60);
    --light_gray: rgb(230, 230, 230);
    --gray: rgb(128, 128, 128);
    --light: rgb(255, 255, 255);
}


/*===================
index.html
=====================*/

.header-section {
    background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), 
    url("images/header_img.jpg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    overflow: hidden;
}

.banner-img {
    min-height: 100vh;
    width: 100vw;
    flex: 0 0 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.nav-landing-page-wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

.fa-bars, .fa-times {
    color: var(--light);
    font-size: 1.7rem;
    cursor: pointer;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-items-mobile {
    display: none;
}

.brand-link {
    display: inline-block;
    color: var(--light);
    font-size: 1.6rem;
    margin-right: 1rem;
    font-weight: 500;
}

.brand-link > span {
    color: rgb(0, 204, 255)
}

.nav-link {
    display: inline-block;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    margin-right: 0;
    font-weight: 500;
    color: var(--light);
}

@media (hover) {
    .nav-link:hover {
        color: var(--gray);
    }
}

.header-text-container {
    align-self: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 4rem;
}

.header-title {
    flex: 0 0 100%;
    width: 100%;
    color: var(--light);
    line-height: 1.3;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.header-text {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 1.5rem;
    color: rgb(185, 185, 185);
    line-height: 1.6;
    font-size: 1.1rem;
}

.hire-me-button {
    margin: 0 auto;
    color: var(--light);
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    border-radius: 8px;
    letter-spacing: 0.1rem;
    background: rgb(0, 110, 138);
    transition: background 0.25s linear;
}

@media (hover) {
    .hire-me-button:hover {
        background: rgb(0, 60, 73);
        transition: background 0.25s linear;
    }
}

@media (max-width: 1366px) {

    .nav-landing-page-wrapper {
        width: 1024.5px;
    }

    .header-text-container {
        width: 409.8px;
    }
}

@media (max-width: 1024px) {
    
    .nav-landing-page-wrapper {
        width: 921px;
        /* width: 90%; */
    }
}

@media (max-width: 921px) {

    .nav-landing-page-wrapper {
        width: 828px;
        /* width: 90%; */
    }
}

@media (max-width: 828px) {

    .nav-landing-page-wrapper {
        width: 745px;
        /* width: 90%; */
    }
}

@media (max-width: 745px) {

    .nav-landing-page-wrapper {
        /* width: 745px; */
        width: 100%;
    }

    .banner-img {
        position: relative;
    }

    .nav {
        padding: 0 ;
    }

    .brand {
        flex: 0 0 100%;
        width: 100%;
    }

    .nav-buttons {
        display: flex;
        padding-left: 1rem;
    }

    .fa-bars, .fa-times {
        width: 30px;
    }

    .fa-times {
        display: none;
    }

    .brand-name {
        margin: 0 auto;
    }

    .brand-link {
        padding: 1rem 0;
    }

    .nav-link {
        font-size: 1.3rem;
        padding: 1rem 0;
    }

    .nav-items {
        display: none;
    }

    .nav-items-mobile {
        display: block;
        position: absolute;
        top: 61px;
        left: 0;
        width: 0%;
        transform: translateX(-100%);
        height: 100vh;
        padding: 1rem 0;
        background: rgba(0, 0, 0, 0.7);
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
    }

    .show-nav-items-mobile {
        width: 100%;
        transform: translateX(0);
        transition: transform 0.25s ease-in-out;
    }

    .header-text-container {
        align-content: center;
    }
}
@media (max-width: 410px) {

    .brand-name {
        margin: 0 auto;
    }

    .brand-link {
        padding-left: 0
    }

    .nav-buttons {
        padding-right: 0;
    }

    .header-text-container {
        width: 90%;
    }
}
/* end of index.html */

/* 
================
my_projects.html 
================*/

.projects-header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
                url("images/road.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.project-header-title {
    height: 100%;
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-header-title > h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.3;
    letter-spacing: 0.1rem;
    margin: 0;
}

.project-header-title > h1> small {
    display: block;
    color: rgb(170, 170, 170);
    letter-spacing: 0.06rem;
    font-size: 0.98rem;
    margin-top: 0.5rem;
}

.project-header-text {
    position: absolute;
    width: 350px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1.5rem;
    bottom: 0;
}

.project-header-text > a {
    display: block;
    font-size: 0.95rem;
    color: rgb(170, 170, 170);
    text-align: center;
    letter-spacing: 0.06rem;
    cursor: pointer;
}

.project-header-text > a > i {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(0, 204, 255);
    padding-bottom: 0.5rem;
}

@media (hover) {
    .project-header-text > a:hover {
        color: rgb(255, 255, 255);
    }
}

.projects {
    padding-top: 4rem;
    position: relative;
}

.contact-message-wrapper {
    position: absolute;
    text-align: center;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    border-radius: 5px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-self: center;
    background: rgba(0, 0, 0, 0.8);
    animation-name: dropMessage;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.contact-message {
    color: white;
    font-weight: 300;
    line-height: 1.5;
}

@keyframes dropMessage {
    from { 
        top: -100%
    }
    to {
        top: 2px;
    }
}

.projects-title {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.projects-title h2 {
    color: var(--black)
}

.projects-title > h2 > span {
    font-size: 1rem;
    color: rgb(80, 80, 80);
    display: block;
    margin-top: 0.5rem;
    letter-spacing: 0.05rem;
}

.project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    background: rgb(255, 255, 255);
}

.project-img-wrapper {
    position: relative;
    height: 250px;
    width: 250px;
    overflow-y: hidden;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s linear;
}

.project-img-wrapper > img {
    width: 100%;
    height: auto;
}

.project-img-wrapper:hover {
    transform: scale(1.05);
    transition: transform 0.3s linear;
}

.img-color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.15);
}

.project-text-wrapper {
    padding: 0 0 0 1.5rem;
    flex: 1;
}

.project-text-wrapper h4{
    color: var(--black);
    font-size: 1.5rem;
}

.project-text-wrapper > p{
    margin-top: 1rem;
    line-height: 1.5;
    color: rgb(50, 50, 50)
}

.project-text-wrapper > p > span {
    color: var(--black);
    display: block;
    font-weight: 700;
    margin-top: 1rem;
}

.see-website-button {
    color: rgb(255, 255, 255);
    padding: 0.8rem 1rem;
    display: inline-block;
    border: none;
    margin-top: 1rem;
    background: rgb(0, 131, 148);
    border-radius: 8px;
    letter-spacing: 0.05rem;
    transition: background 0.25s linear
}

@media (hover) {
    .see-website-button:hover {
        background: rgb(0, 68, 80);
        transition: background 0.25s linear
    }
}

@media (min-width: 1366px) {
    .project,  .projects-title{
        width: 1024.5px;
    }
}

@media (max-width: 1366px) {
    .project,  .projects-title{
        width: 1024.5px;
    }
}

@media (max-width: 1024px) {

    .project,  .projects-title{
        width: 921px;
        /* width: 90%; */
    }
}

@media (max-width: 921px) {

    .project,  .projects-title{
        width: 828px;
        /* width: 90%; */
    }
}

@media (max-width: 828px) {

    .project,  .projects-title{
        width: 745px;
        /* width: 90%; */
    }
}

@media (max-width: 745px) {

    .projects-header {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .project-header-title {
        height: auto;
        margin-bottom: 3rem;
    }

    .project-header-text {
        margin-bottom: 1.5rem;
}

    .projects {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .project,  .projects-title{
        width: 90%;
    }

    .project {
        padding: 1.2rem;
        margin-bottom: 1.5rem;
    }
    .project-img-wrapper {
        width: 100;
        flex: 0 0 100%;
        height: 300px
    }

    .project-img-wrapper:hover {
        transform: scale(1)
    }

    .project-text-wrapper {
        width: 100%;
        flex: 0 0 100%;
        padding-left: 0;
        margin-top: 1rem;
    }
}

@media (max-width: 680px) {
   
    .project-text-wrapper > p {
        font-size: 1.1rem;
    }
    .see-website-button {
        font-size: 1.1rem;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}

@media (max-width: 450px) {
    .project-header-title {
        margin-bottom: 5rem;
    }

    .project-header-title > h1 {
        font-size: 3rem;
    }
}

@media (max-width: 350px) {
    .project-header-title,
    .project-header-text {
        width: 90%;
    }
}

@media (max-width: 300px) {
    .project-img-wrapper {
        height: 250px
    }
}

/* 
==========
about.html
========== */

.about {
    padding: 4rem 0;
}

.about-wrapper {
    width: 75%;
    margin: 0 auto;
    padding: 1.5rem;
    background: var(--light);
    border-radius: 5px;
}

.about-title {
    margin-bottom: 1.2rem;
}

.profile-img {
    margin-bottom: 1.2rem;
}

.profile-img > img {
    width: 120px;
    height: 116px;
    border-radius: 50%;
}

.about-text > p {
    color: rgb(50, 50, 50);
    line-height: 1.6;
}

.about-text > p > span {
    color: var(--black);
    font-weight: 700;
}
@media (min-width: 1366px) {
    .about-wrapper {
        width: 1024.5px;
    }

}

@media (max-width: 1366px) {
    .about-wrapper {
        width: 1024.5px;
    }
}

@media (max-width: 1024.5px) {
    .about-wrapper {
        width: 921px;
    }
}

@media (max-width: 921px) {
    .about-wrapper {
        width: 828px;
    }
}

@media (max-width: 828px) {

    .about-wrapper {
        width: 745px;
    }

    .about {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 745px) {
    .about {
        padding: 1rem 0 1.5rem 0;
        background: rgb(255, 255, 255);
    }
    .about-wrapper {
        width: 90%;
        background: transparent;
    }
}