::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(230, 230, 230);
}

a {
    text-decoration: none;
    display: inline-block;
}


li {
    list-style-type: none;
}

p, li, a, button{
    letter-spacing: 0.05rem;
}

:root {
   
    --black: rgb(30, 30, 30);
    --light_dark: rgb(60, 60, 60);
    --light_gray: rgb(230, 230, 230);
    --gray: rgb(128, 128, 128);
    --light: rgb(255, 255, 255);
}

main {
    background: rgb(20, 20, 20);
}

/* ========
 index.html 
 ========== */

 .message-received-container {
    position: absolute;
    top: -100%;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    max-width: 400px;
    padding: 1.3rem;

    display: grid;
    gap: 0.5rem;
}

.drop-message {
    animation-name: dropMessage;
    animation-duration: 1300ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes dropMessage {
    from { 
        top: -100%
    }
    to {
        top: 10px;
    }
 }

.message-received-close-btn {
    color: white;
    justify-self: end;
    opacity: 0; 
    width: 28px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    background: rgb(0, 131, 148);
    transition: opacity 200ms linear;
}

.message-received-close-btn > i {
    font-size: 1.1rem;
    line-height: 0;
    margin-top: 0.1rem;
}

.received-message {
    color: white;
    letter-spacing: 0.09rem;
    line-height: 1.7;
    font-size: 1rem;
    text-wrap: balance;
    text-align: center;
    font-weight: initial;
    padding: 1.3rem;
    border-radius: 10px;
    background: rgb(50, 50, 50);
    box-shadow: 5px 5px 25px -1px rgb(24, 24, 24);
}

/*==============
my_projects.html 
================*/
.tech-stack-main {
    display: grid;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.tech-stack-container {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 2.5rem;
    padding: 3rem 0;
    padding-top: 2rem;
    border-top: 1px solid rgb(41, 41, 41);
    border-bottom: 1px solid rgb(41, 41, 41);
}

.tech-stack-header-container {
    grid-column: 1 / -1;
}

.tech-stack-text {
    display: grid;
    align-items: start;
    align-content: start;
    justify-content: center;
    justify-items: center;
    gap: 0.6rem;
    color: white;
}

.tech-stack-image-and-header {
    display: grid;
    grid-template-columns: 35px auto;
    align-items: center;
    align-content: center;
    gap: 0.5rem;
}

.tech-stack-image > img {
    width: 100%;
    height: auto;
    display: block;
}

.drf-image {
    border-radius: 50%;
}

.drf-image > img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.tech-stack-header{
    font-size: clamp(1.1rem, 1vw + 1rem, 1.3rem);
    font-weight: 600;
}

.tech-stack-content {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    color: rgb(182, 182, 182);
}

.projects-main  {
    display: grid;
    align-content: start;
    align-items: start;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}

.projects {
    display: grid;
    align-content: start;
    gap: 3rem;
}

.projects-header-container {
    justify-self: center;
}

.project-header {
    color: white;
    letter-spacing: 0.05rem;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    border-bottom: 2px solid rgb(24, 188, 209);
}

.project {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 1rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(41, 41, 41);
}

.project:last-child {
    border-bottom: none;
}

.project-img-wrapper {
    position: relative;
    border-radius: 15px;
    transition: transform 0.3s linear;
}

.project-img-wrapper > img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.project-img-wrapper > .sm-image {
    display: none;
}

.img-color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.452);
}
.project-text-wrapper {
    display: grid;
    gap: 0.8rem;
    align-items: start;
    align-content: start;
}

.project-name-header{
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.project-name-divider {
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray)
}

.project-date {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--gray);
}

.project-tech-stacks-container {
    display: grid;
    align-items: start;
    align-content: start;
    gap: 0.3rem;
    margin-top: 0.5rem;
}

.project-tech-stack {
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 500;
}

.tech-stacks-used {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tech-stacks-used > li {
    color: hsl(0, 0%, 50%);
    font-weight: initial;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
    font-weight: 400;
}

.project-view-code-container {
    display: flex; 
    gap: 0.5rem; 
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.view-code {
    justify-self: start;
    color: rgb(28, 200, 223);
    letter-spacing: 0.05rem;
    font-size: rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: color 200ms linear, border-bottom 200ms linear;
}

@media (hover) {
    .view-code:hover {
        color: rgb(24, 188, 209);
        border-bottom: 2px solid rgb(24, 188, 209);
    }
}

.project-text-content{
    line-height: 1.4;
    letter-spacing: 0.05rem;
    color: rgb(201, 201, 201);
    text-wrap: pretty;
    max-width: 500px;
}

.see-website-button {
    color: rgb(255, 255, 255);
    padding: 1rem;
    border: none;
    background: rgb(0, 131, 148);
    border-radius: 30px;
    letter-spacing: 0.03rem;
    margin-top: 0.8rem;
    text-align: center;
    transition: background 0.25s linear;
    font-size: 1.1rem;
    font-weight: 500;
}

@media (hover) {
    .see-website-button:hover {
        background: rgb(0, 68, 80);
    }
}

@media screen and (min-width: 600px) {

    .tech-stack-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 4rem 0;
        padding-top: 3rem;
        row-gap: 3rem;
    }

    .tech-stack-text {
        justify-content: start;
        justify-items: start;
    }

    .tech-stack-content {
        text-align: start;
    }

    .projects-header-container {
        justify-self: start;
    }

    .see-website-button {
        justify-self: start;
        padding: 1rem 2rem;
    }

}

@media screen and (min-width: 700px) {
    .project {
        gap: 4rem;
        grid-template-columns: 350px 1fr;
    }

    .project-img-wrapper > .sm-image {
        display: block !important;
    }

    .project-img-wrapper > .lg-image {
        display: none !important;
    }
}

@media screen and (min-width: 800px) {
    .project {
        align-items: center;
        align-content: center;
    }
}
