::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(230, 230, 230);
}

a {
    text-decoration: none;
    display: inline-block;
}


li {
    list-style-type: none;
}

p, li, a, button{
    letter-spacing: 0.05rem;
}

:root {
   
    --black: rgb(30, 30, 30);
    --light_dark: rgb(60, 60, 60);
    --light_gray: rgb(230, 230, 230);
    --gray: rgb(128, 128, 128);
    --light: rgb(255, 255, 255);
}


/* ==============
LANDING_PAGE.HTML
================= */

.header-section {
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), 
    url("images/landing_page.webp");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
    overflow: hidden;
}

.banner-img {
    min-height: 100vh;
    width: 100vw;
    flex: 0 0 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.nav {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.nav-landing-page-wrapper {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.nav-buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    display: none;
}

.landing-page-fa-bars, .landing-page-fa-times {
    color: var(--light);
    font-size: 1.7rem;
    cursor: pointer;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-items-mobile {
    display: none;
}

.landing-page-brand-link {
    display: inline-block;
    color: var(--light);
    font-size: 1.6rem;
    margin-right: 1rem;
    font-weight: 500;
}

.brand-link > span {
    color: rgb(0, 204, 255)
}

.landing-page-nav-link {
    display: inline-block;
    padding: 1.5rem 0;
    margin: 0 1.5rem;
    margin-right: 0;
    font-weight: 500;
    color: var(--light);
}

@media (hover) {
    .landing-page-nav-link:hover {
        color: var(--gray);
    }
}

.header-text-container {
    align-self: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 4rem;
}

.header-title {
    flex: 0 0 100%;
    width: 100%;
    color: var(--light);
    line-height: 1.3;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.header-text {
    flex: 0 0 100%;
    width: 100%;
    margin-top: 1.5rem;
    color: rgb(185, 185, 185);
    line-height: 1.6;
    font-size: 1.1rem;
}

.hire-me-button {
    margin: 0 auto;
    color: var(--light);
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    font-size: 1.1rem;
    border-radius: 8px;
    letter-spacing: 0.1rem;
    background: rgb(0, 110, 138);
    transition: background 0.25s linear;
}

@media (hover) {
    .hire-me-button:hover {
        background: rgb(0, 60, 73);
        transition: background 0.25s linear;
    }
}

@media (max-width: 1366px) {

    .nav-landing-page-wrapper {
        width: 1024.5px;
    }

    .header-text-container {
        width: 409.8px;
    }
}

@media (max-width: 1024px) {
    
    .nav-landing-page-wrapper {
        width: 921px;
    }
}

@media (max-width: 921px) {

    .nav-landing-page-wrapper {
        width: 828px;
    }
}

@media (max-width: 828px) {

    .nav-landing-page-wrapper {
        width: 745px;
    }
}

@media (max-width: 745px) {

    .nav-landing-page-wrapper {
        width: 100%;
    }

    .banner-img {
        position: relative;
    }

    .nav {
        padding: 0 ;
    }

    .brand {
        flex: 0 0 100%;
        width: 100%;
    }

    .nav-buttons {
        display: flex;
        padding-left: 1rem;
    }

    .landing-page-fa-bars, .landing-page-fa-times {
        width: 30px;
    }

    .landing-page-fa-times {
        display: none;
    }

    .landing-page-brand-name {
        margin: 0 auto;
    }

    .landing-page-brand-link {
        padding: 1rem 0;
    }

    .landing-page-nav-link {
        font-size: 1.3rem;
        padding: 1rem 0;
    }

    .nav-items {
        display: none;
    }

    .nav-items-mobile {
        display: block;
        position: absolute;
        top: 61px;
        left: 0;
        width: 0%;
        transform: translateX(-100%);
        height: 100vh;
        padding: 1rem 0;
        background: rgba(0, 0, 0, 0.7);
        transition: transform 0.5s ease-in-out;
        overflow: hidden;
    }

    .show-nav-items-mobile {
        width: 100%;
        transform: translateX(0);
        transition: transform 0.25s ease-in-out;
    }

    .header-text-container {
        align-content: center;
    }
}
@media (max-width: 410px) {

    .landing-page-brand-name {
        margin: 0 auto;
    }

    .landing-page-brand-link {
        padding-left: 0
    }

    .nav-buttons {
        padding-right: 0;
    }

    .header-text-container {
        width: 90%;
    }
}

/*==============
my_projects.html 
================*/

.projects-main  {
    background: rgb(29, 29, 29);
}

.projects {
    display: grid;
    gap: 2rem;
    align-content: start;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* .contact-message-wrapper {
    position: absolute;
    text-align: center;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem;
    border-radius: 8px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-self: center;
    background: rgba(0, 0, 0, 0.8);
    animation-name: dropMessage;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.contact-message {
    color: white;
    font-weight: 300;
    line-height: 1.5;
}

@keyframes dropMessage {
    from { 
        top: -100%
    }
    to {
        top: 68px;
    }
 } */


.project-header {
    color: rgb(24, 188, 209);;
    letter-spacing: 0.05rem;
    font-size: 2rem;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    /* border: 1px solid rgb(41, 41, 41); */
    padding: 1.3rem;
    border-radius: 10px;
    background: rgb(41, 41, 41);
}

.project-img-wrapper {
    position: relative;
    border-radius: 8px;
    transition: transform 0.3s linear;
}

.project-img-wrapper > img {
    width: 100%;
    height: auto;
    display: block;
}

.img-color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.452);
}

.project-text-wrapper {
    display: grid;
    gap: 0.5rem;
    align-items: start;
}

.project-text-wrapper > h4{
    color: rgb(240, 240, 240);
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
}

.tech-stacks-used {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tech-stacks-used > h4 {
    color: rgb(126, 126, 126);
    font-weight: initial;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.project-text-wrapper > p{
    line-height: 1.5;
    margin-top: 0.8rem;
    letter-spacing: 0.09rem;
    color: rgb(201, 201, 201)
}

.see-website-button {
    color: rgb(255, 255, 255);
    padding: 0.8rem 1rem;
    padding-top: 1rem;
    border: none;
    background: rgb(0, 131, 148);
    border-radius: 25px;
    letter-spacing: 0.05rem;
    margin-top: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.25s linear
}

@media (hover) {
    .see-website-button:hover {
        background: rgb(0, 68, 80);
        transition: background 0.25s linear
    }
}


@media screen and (min-width: 800px) {

    .projects {
        max-width: 1400px;
    }

    .project {
        display: grid;
        align-items: center;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .project-img-wrapper {
        grid-column: 2 / sapn 1;
    }

    .project-text-wrapper {
        grid-column:  1 / span 1;
        grid-row: 1 / span 1;
    }

    .see-website-button {
        justify-self: start;
        padding: 0.8rem 2rem;
    }
}
/* 
==========
about.html
========== */

.about {
    padding: 4rem 0;
}

.about-wrapper {
    width: 75%;
    margin: 0 auto;
    padding: 1.5rem;
    background: var(--light);
    border-radius: 5px;
}

.about-title {
    margin-bottom: 1.2rem;
}

.profile-img {
    margin-bottom: 1.2rem;
}

.profile-img > img {
    width: 120px;
    height: 116px;
    border-radius: 50%;
}

.about-text > p {
    color: rgb(50, 50, 50);
    line-height: 1.6;
}

.about-text > p > span {
    color: var(--black);
    font-weight: 700;
}
@media (min-width: 1366px) {
    .about-wrapper {
        width: 1024.5px;
    }

}

@media (max-width: 1366px) {
    .about-wrapper {
        width: 1024.5px;
    }
}

@media (max-width: 1024.5px) {
    .about-wrapper {
        width: 921px;
    }
}

@media (max-width: 921px) {
    .about-wrapper {
        width: 828px;
    }
}

@media (max-width: 828px) {

    .about-wrapper {
        width: 745px;
    }

    .about {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

@media (max-width: 745px) {
    .about {
        padding: 1rem 0 1.5rem 0;
        background: rgb(255, 255, 255);
    }
    .about-wrapper {
        width: 90%;
        background: transparent;
    }
}