@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
/* customer properties */
:root {
  --color-light: rgb(255, 255, 255);
  --color-light-gray: rgb(240, 240, 240);
  --color-gray: rgb(150, 150, 150);
  --color-dark: rgb(30, 30, 30);
  --color-accent: rgb(22, 224, 189);
  --color-orange: rgb(252, 81, 48);
  --background-gray: rgba(242, 242, 242, 0.949);
  --font-size-h1: 3rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.25rem;
  --font-size-body: 1rem;
  --font-size-medium: 1.75rem;
  --font-size-large: 4rem;
  --primary: #4f4fb8;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  letter-spacing: 2%;
  scroll-behavior: smooth;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem;
  -webkit-box-shadow: 0 24px 36px -20px rgba(17, 17, 17, 0.1);
          box-shadow: 0 24px 36px -20px rgba(17, 17, 17, 0.1);
  cursor: pointer;
}

.card .card-body_title {
  font-size: 1.25rem;
  margin: 1rem 0 0.75rem 0;
  color: var(--color-dark);
}

.card .card-body_subtitle {
  font-size: 0.8375rem;
  line-height: 1.6;
  color: #555;
}

.container-fluid {
  max-width: 100%;
  padding: 0 0.9375rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -0.9375rem;
}

/* nav */
.nav {
  background: transparent;
  padding: 0.75rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 74px;
}

.nav .navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav .navbar-nav .nav-items .nav-link {
  text-decoration: none;
  color: var(--color-dark);
  padding: 0.25rem 0.75rem;
  font-size: 1.125rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav .navbar-nav .nav-items .nav-link::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid transparent;
  border-radius: 5px;
  height: 3px;
}

.nav .navbar-nav .nav-items .nav-link:hover::before {
  border-color: var(--primary);
}

.nav .navbar-nav .nav-items + .nav-items {
  margin-left: 2rem;
}

.nav .media-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.nav .media-links_item {
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav .media-links_item .mdi {
  font-size: 1.5rem;
  color: var(--color-dark);
}

.nav .media-links_item:hover .mdi {
  color: var(--primary);
}

/* end of nav */
/* header */
.header {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* end of head */
/* banner */
.banner {
  height: calc(100vh - 74px);
  padding: 2.5rem;
  /* as a child */
  /* as a parent */
}

.banner .banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.banner .banner-container .info {
  width: 50%;
  line-height: 1.4;
  font-weight: 500;
  font-size: 4rem;
}

.banner .banner-container .info .keyword {
  font-weight: 700;
  color: var(--primary);
}

.banner .banner-container .info .desc {
  font-weight: 400;
  margin-top: 1.25rem;
  line-height: 1.6;
  font-size: 1.25rem;
  color: var(--color-dark);
}

.banner .banner-container .img-holder {
  width: 50%;
  margin-left: 1.5rem;
  background-color: #f1f3f7;
  height: 100%;
}

.banner .btn {
  padding: 1rem 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 5px;
  margin-top: 0;
  cursor: pointer;
}

.banner .btn.cta-main {
  font-size: 1rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.banner .btn.cta-main .mdi {
  margin-right: 0.5rem;
}

.banner .btn.cta-main:hover {
  background-color: #4444a9;
  -webkit-box-shadow: 0 20px 50px -12px rgba(79, 79, 184, 0.5);
          box-shadow: 0 20px 50px -12px rgba(79, 79, 184, 0.5);
}

.banner-jobs {
  letter-spacing: 0.15rem;
  text-transform: capitalize;
  font-size: var(--font-size-medium);
  color: var(--color-light);
}

/* end of banner */
/* about */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
  background-color: var(--primary);
  max-width: 1240px;
  margin: 2rem auto;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.about .left-side {
  width: 50%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.about .left-side .info {
  height: 100%;
}

.about .left-side .info .sec-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.about .left-side .info .sec-title .desc {
  margin-top: 1rem;
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
}

.about .right-side {
  width: 50%;
  height: 100%;
  text-align: right;
}

.about .right-side .btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.about .right-side .btn.cta-secondary {
  background-color: #fff;
  color: var(--primary);
  font-weight: 500;
  -webkit-box-shadow: 0 20px 50px -12px rgba(79, 79, 184, 0.5);
          box-shadow: 0 20px 50px -12px rgba(79, 79, 184, 0.5);
}

.about .right-side .btn.cta-secondary .mdi {
  margin-right: 0.5rem;
}

.about::before {
  content: '';
  position: absolute;
  bottom: -15%;
  left: -2%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #40409e;
}

.about::after {
  content: '';
  position: absolute;
  top: -15%;
  right: -2%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #4444a9;
}

/* end of about */
.works {
  min-height: 100%;
  background-color: #f1f3f7;
  padding: 2.5rem;
}

.works .sec-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--color-dark);
  font-weight: 700;
  margin-bottom: 2rem;
}

.works .row + .row {
  margin-top: 1.875rem;
}

.works .col-3 {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.works .card {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.works .card:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.footer {
  background-color: #11112a;
  height: 100%;
  padding: 2.5rem;
}

.footer .container-fluid .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .container-fluid .col {
  padding: 0 0.9375rem;
}

.footer .container-fluid .col .wrapper .title {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.footer .container-fluid .col .wrapper .title .desc {
  font-size: 1rem;
  margin-top: 0.75rem;
  font-weight: 400;
  max-width: 70%;
  line-height: 1.6;
}

.footer .container-fluid .col .wrapper .form-control {
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.75rem;
  border: 1px solid transparent;
}

.footer .container-fluid .col .wrapper .form-control:active, .footer .container-fluid .col .wrapper .form-control:focus {
  border: 1px solid var(--primary);
}

.footer .container-fluid .col .wrapper .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem 1.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
}

.footer .container-fluid .col .wrapper .btn.cta-email {
  font-size: 1rem;
  background-color: var(--primary);
  color: #fff;
  font-weight: 500;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.footer .container-fluid .col .wrapper .btn.cta-email .mdi {
  margin-right: 0.5rem;
}

.footer .container-fluid .col .wrapper .btn.cta-email:hover {
  background-color: #4444a9;
  -webkit-box-shadow: 0 20px 50px -12px rgba(79, 79, 184, 0.5);
          box-shadow: 0 20px 50px -12px rgba(79, 79, 184, 0.5);
}

.footer .container-fluid .img-holder {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  margin-bottom: 2rem;
}

.footer .container-fluid .title {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.footer .container-fluid .title .sub-title {
  font-size: 1rem;
  color: var(--color-light);
  font-weight: 400;
  margin-top: 0.75rem;
  max-width: 70%;
  line-height: 1.6;
}

.footer .container-fluid .email-holder {
  margin-top: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

.footer .container-fluid .email-holder .email {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0.75rem;
}

.footer .container-fluid .hr {
  margin: 2rem 0;
  border-bottom: 1px solid #2e2e73;
}

.footer .container-fluid .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .container-fluid .nav {
  height: auto;
}

.footer .container-fluid .navbar-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
  margin-left: -1.5rem;
}

.footer .container-fluid .navbar-nav .nav-items .nav-link {
  padding: 0.75rem 1.5rem;
  color: #fff;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.footer .container-fluid .navbar-nav .nav-items .nav-link::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid transparent;
  border-radius: 5px;
  height: 3px;
}

.footer .container-fluid .navbar-nav .nav-items .nav-link:hover::before {
  border-color: #fff;
}

.footer .container-fluid .navbar-nav .nav-items .nav-link + .nav-link {
  margin-left: 2rem;
}

.footer .container-fluid .copyright-holder {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */