{% extends "about_me/my_projects.html" %}
{% load static %}



<title>
    {% block title %}
        About Me
    {% endblock title%}
</title>


{% block content %}
<div class="about">
    <div class="about-wrapper">
        <div class="profile-img">
            <img src="{% static 'about_me/images/me.jpg' %}" alt="">
        </div>
        <div class="about-title">
            <h3>About Me</h3>
        </div>
        <div class="about-text">
            <p>
                My name is Eric Anderson. A <span>front-end & back-end developer</span> in Philippines, 
                based out of San Diego, California USA. I specialize in <span>Django Framework, 
                UX/UI, and Responsive Web Design.</span> 
                <br>
                <br>
                My life before becoming a developer, I was a chef for over 20 years.
                While being a chef, woking in hot kitchens taught me 2 most import lessons-<span>learn 
                to thrive under pressure, and always strive for excellence.</span>
                <br>
                <br>
                Utilizing above 2 lesosns, about a little more than a year ago, I decided to realize
                my teenage dream, which was to be a web developer.
                I taught myself <span>front-end: CSS and Javascript, and back-end: Python and Django.</span>
                Using technologies I have learned, I strive to create professional, beautiful, user friendly, and responsive website.
            </p>
        </div>
    </div>
</div>
{% endblock content %}