{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'about_me/style.css' %}">
    <title>About Me</title>
</head>
<body>
    <h1>About me</h1>

    
    <script type="text/javascript" src="{% static 'about_me/main.js' %}"></script>
</body>
</html>
