{% extends "about_me/my_projects.html" %}
{% load static %}



<title>
    {% block title %}
        About Me
    {% endblock title%}
</title>


{% block content %}
<div id="projects" class="about">
    <div class="about-wrapper">
        <div class="profile-img">
            <img src="{% static 'about_me/images/me.jpg' %}" alt="">
        </div>
        <div class="about-title">
            <h3>About Me</h3>
        </div>
        <div class="about-text">
            <p>
                My name is Eric Anderson. I am a <span>front-end and back-end web developer</span> living in the Philippines, 
                based out of San Diego, California USA. I specialize in <span>Django Framework, 
                UX/UI, and Responsive Web Design.</span> 
                <br>
                <br>
                Before I becoming a developer, I was a chef for over twenty years.
                While being a chef, woking in hot kitchens taught me two import lessons:<span>
                to excel under pressure, and to consistently strive for excellence.</span>
                <br>
                <br>
                A year ago, utilizing the above lessons, I decided to realize
                my teenage dream of being a web developer.
                I became proficient in <span>front-end CSS and Javascript, and back-end Python and Django.</span>
                Using these technologies, I strive to create professional, beautiful, user-friendly, and responsive websites.
            </p>
        </div>
    </div>
</div>
{% endblock content %}