{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="{% static 'about_me/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'about_me/style.css' %}">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>

    <header>
        <!-- header -->
       <div id="header" class="header">
            <!-- second child -->
            <div class="banner">
                <!-- banner container -->
                <div class="banner-container">
                    <h1 class="banner-title">I am <strong>Eric Anderson</strong></h1>
                    <h1 class="banner-jobs">
                        developer
                        <span><i class="fas fa-angle-double-right"></i></span>
                        designer
                    </h1>
                </div>
                <nav id="navbar" class="nav">
                    <ul>
                        <li><a class="nav-item" href="#about">About Me</a></li>
                        <li><a class="nav-item" href="#skills">Skills</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- end of header -->
    </header>

    <main>
        {% block content %}
        
        {% endblock content %}
    </main>

    <footer>
       <div class="scroll-up-button">
           <a href="#header"><i class="fas fa-chevron-up"></i></a>
       </div>
    </footer>

    <script type="text/javascript" src="{% static 'about_me/main.js' %}"></script>

    <script>
        scroll()
        function scroll(){

            const scrollUpButton = document.querySelector(".scroll-up-button")
            const idNavbar = document.querySelector("#navbar")

            idNavbar.addEventListener("click", function(){
                idNavbar.style.position = "fixed"
                idNavbar.style.width = "100%"
                idNavbar.style.zIndex = "1"
            })
            
            window.addEventListener("scroll", function(){
                if (window.scrollY == 0) {
                    idNavbar.style.position = "absolute;"
                    idNavbar.style.width = "100%"
                    idNavbar.style.zIndex = "0"
                    scrollUpButton.classList.remove("show-scroll-up-button")
                }
                else{
                    idNavbar.style.position = "fixed"
                    idNavbar.style.width = "100%"
                    idNavbar.style.zIndex = "1"
                    scrollUpButton.classList.add("show-scroll-up-button")
                }
            })
            
        }

    
    </script>

</body>
</html>
<!-- video time  1:44:44-->