{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="{% static 'about_me/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'about_me/style.css' %}">
    <title>
    {% block title %}
        
    {% endblock title %}
    </title>
</head>
<body>
    <header id="header">
        <nav class="nav-mobile">
            <div class="nav-buttons">
                <i class="fa fa-bars"></i>
                <i class="fa fa-times"></i>
            </div>
            <div class="brand">
                <a class="brand-name-link" href="{% url 'about_me:home' %}" class="brand-name">Digital <span>Samurai</span></a>
            </div>
            <ul class="nav-items-mobile">
                <li class="nav-item"><a href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a href="">Collaborate</a></li>
                <li class="nav-item"><a href="">Contact</a></li>
            </ul>
        </nav>
        <div class="header">
            <div class="header-text">
                <h1 class="header-title">Building digital products, brands and 
                    <span>experience.</span>
                </h1>
                <p class="header-para">
                    A <strong>front-end & back-end developer</strong> in Philippines,
                    based out of San Diego, California USA. I specialize in Django Framework,
                    UX/UI, Responsive Web Design and Visual Development.
                </p>
                <a href="#" class="header-hire-me-btn">Hire Me</a>
            </div>
            <div class="header-img">
                <img src="{% static 'about_me/images/img.jpg' %}" alt="">
            </div>
        </div>
        <nav class="nav">
            <div class="nav-buttons">
                <i class="fa fa-bars"></i>
                <i class="fa fa-times"></i>
            </div>
            <div class="brand">
                <a class="brand-name-link" href="{% url 'about_me:home' %}" class="brand-name">Digital <span>Samurai</span></a>
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a href="">Collaborate</a></li>
                <li class="nav-item"><a href="">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
    {% block content %}
    {% endblock content %}
    </main>

    <footer>
        <div class="scroll-up-button">
            <a href="#header"><i class="fas fa-chevron-up"></i></a>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'about_me/main.js' %}"></script>

    <script>

        const faBars = document.querySelector(".fa-bars")
        const faTimes = document.querySelector(".fa-times")
        const navItemsMobile = document.querySelector(".nav-items-mobile")
        const scrollUpButton = document.querySelector(".scroll-up-button")

        console.log(window.scrollY)

        faBars.addEventListener("click", function(){
            faBars.style.display = "none"
            navItemsMobile.classList.add("show-nav-items-mobile")
            faTimes.style.display = "block"
            document.body.style.overflow = "hidden"
        })

        faTimes.addEventListener("click", function(){
            faBars.style.display = "block"
            navItemsMobile.classList.remove("show-nav-items-mobile")
            faTimes.style.display = "none"
            document.body.style.overflow = "scroll"
            
        })

        window.addEventListener("resize", function(){
            if (window.innerWidth <= 720) {
                    navItemsMobile.classList.remove("show-nav-items-mobile")
                    faTimes.style.display = "none"
                    faBars.style.display = "block"
            }
        })

        window.addEventListener("scroll", function(){
            if (window.scrollY > 0) {
                console.log(window.scrollY)
                navItemsMobile.classList.remove("show-nav-items-mobile")
                scrollUpButton.classList.add("show-scroll-up-button")
                faBars.style.display = "block"
                faTimes.style.display = "none"
                document.body.style.overflow = "scroll"
                
            }
            else{
                scrollUpButton.classList.remove("show-scroll-up-button")
            }
        })
    
    </script>
</body>
</html>