<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'about_me/css/all.min.css' %}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'about_me/style.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="/about_me/static/style.css">
    <title>
        <!-- {% block title %}
        {% endblock title %} -->
    </title>
    <style>
        @font-face {
            font-family: 'FontAwesome';
            font-weight: 400;
            src: url("/about_me/static/about_me/webfonts/fa-brands-400.woff2") format('woff2');
        }

        @font-face {
            font-family: 'FontAwesome';
            font-weight: 400;
            src: url("/about_me/static/about_me/webfonts/fa-regular-400.woff2") format('woff2');
        }

        @font-face {
            font-family: 'FontAwesome';
            font-weight: 900;
            src: url("/about_me/static/about_me/webfonts/fa-solid-900.woff2") format('woff2');
        }
    </style>
</head>

<body>
    <!-- header -->
    <header class="header">
        <!-- first child -->
        <nav class="nav">
            <div class="navbar-brand">
                <a href="/" class="navbar-brand_logo">
                    <picture>
                        <source srcset="http://via.placeholder.com/50x50">
                        <img src="http://via.placeholder.com/50x50" alt="Logo" class="img-fluid">
                    </picture>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-items">
                    <a href="/work" class="nav-link">Works</a>
                </li>
                <li class="nav-items">
                    <a href="/contact" class="nav-link">Services</a>
                </li>
                <li class="nav-items">
                    <a href="/contact" class="nav-link">Collaborate</a>
                </li>
                <li class="nav-items">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
            <ul class="media-links">
                <li class="media-links_item">
                    <i class="mdi mdi-instagram"></i>
                </li>
                <li class="media-links_item">
                    <i class="mdi mdi-linkedin"></i>
                </li>
                <li class="media-links_item">
                    <i class="mdi mdi-github"></i>
                </li>
            </ul>
        </nav>

        <!-- second child -->
        <div class="banner">
            <!-- banner container -->
            <div class="banner-container">
                <div class="info">
                    <!-- <h1 class="banner-title">I am <strong>Eric Anderson</strong></h1>
                    <h1 class="banner-jobs">
                        developer
                        <span><i class="fas fa-angle-double-right"></i></span>
                        designer
                    </h1> -->
                    Building digital products, brands and 
                    <span class="keyword">experience.</span>
                    <div class="desc">
                        A <strong>front-end developer</strong> in Thailand.
                        I specialize in Django Framework, UI/UX, Responsive
                        Web Design and Visual Development.
                    </div>
                    <button class="btn cta-main">
                        <i class="mdi mdi-email-outline"></i>
                        Hire me
                    </button>
                </div>
                <div class="img-holder">
                    <picture>
                        <source srcset="http://via.placeholder.com/">
                        <img src="http://via.placeholder.com/" alt="Eric Anderson" class="img-fluid">
                    </picture>
                </div>
            </div>
        </div>
    </header>
    <!-- end of header -->

    <!-- Works -->
    <div class="works">
        <div class="container-fluid">
            <div class="sec-title">
                My Portfolio
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <picture>
                            <source srcset="http://via.placeholder.com/408x204">
                            <img src="http://via.placeholder.com/408x204" alt="Portfolio Image I"
                             class="img-fluid"
                            >
                        </picture>
                        <div class="card-body">
                            <div class="card-body_title">
                                My Work I
                            </div>
                            <div class="card-body_subtitle">
                                A front-end project for an e-commerce
                                website using djando framework.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <picture>
                            <source srcset="http://via.placeholder.com/408x204">
                            <img src="http://via.placeholder.com/408x204" alt="Portfolio Image I"
                             class="img-fluid"
                            >
                        </picture>
                        <div class="card-body">
                            <div class="card-body_title">
                                My Work II
                            </div>
                            <div class="card-body_subtitle">
                                A front-end project for an e-commerce
                                website using djando framework.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <picture>
                            <source srcset="http://via.placeholder.com/408x204">
                            <img src="http://via.placeholder.com/408x204" alt="Portfolio Image I"
                             class="img-fluid"
                            >
                        </picture>
                        <div class="card-body">
                            <div class="card-body_title">
                                My Work III
                            </div>
                            <div class="card-body_subtitle">
                                A front-end project for an e-commerce
                                website using djando framework.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <picture>
                            <source srcset="http://via.placeholder.com/408x204">
                            <img src="http://via.placeholder.com/408x204" alt="Portfolio Image I"
                             class="img-fluid"
                            >
                        </picture>
                        <div class="card-body">
                            <div class="card-body_title">
                                My Work IV
                            </div>
                            <div class="card-body_subtitle">
                                A front-end project for an e-commerce
                                website using djando framework.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="card">
                        <picture>
                            <source srcset="http://via.placeholder.com/408x204">
                            <img src="http://via.placeholder.com/408x204" alt="Portfolio Image I"
                             class="img-fluid"
                            >
                        </picture>
                        <div class="card-body">
                            <div class="card-body_title">
                                My Work V
                            </div>
                            <div class="card-body_subtitle">
                                A front-end project for an e-commerce
                                website using djando framework.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <picture>
                            <source srcset="http://via.placeholder.com/408x204">
                            <img src="http://via.placeholder.com/408x204" alt="Portfolio Image I"
                             class="img-fluid"
                            >
                        </picture>
                        <div class="card-body">
                            <div class="card-body_title">
                                My Work VI
                            </div>
                            <div class="card-body_subtitle">
                                A front-end project for an e-commerce
                                website using djando framework.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <picture>
                            <source srcset="http://via.placeholder.com/408x204">
                            <img src="http://via.placeholder.com/408x204" alt="Portfolio Image I"
                             class="img-fluid"
                            >
                        </picture>
                        <div class="card-body">
                            <div class="card-body_title">
                                My Work VII
                            </div>
                            <div class="card-body_subtitle">
                                A front-end project for an e-commerce
                                website using djando framework.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card">
                        <picture>
                            <source srcset="http://via.placeholder.com/408x204">
                            <img src="http://via.placeholder.com/408x204" alt="Portfolio Image I"
                             class="img-fluid"
                            >
                        </picture>
                        <div class="card-body">
                            <div class="card-body_title">
                                My Work VIII
                            </div>
                            <div class="card-body_subtitle">
                                A front-end project for an e-commerce
                                website using djando framework.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of works -->

    <!-- about -->
    <div class="about">
        <div class="left-side">
            <div class="info">
                <div class="sec-title">
                    Work Inquiry
                    <div class="desc">
                        I'm always open to discuss
                        your project, improve your
                        online presence or help
                        you with your brand.
                    </div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <button class="btn cta-secondary">
                <i class="mdi mdi-chat-outline"></i>
                Let's talk
            </button>
        </div>
        <!-- <div class="about-img">
            <img src="{% static 'about_me/images/img.jpg' %}" alt="">
        </div>
        <div class="about-info">
            <h2 class="about-info-title">About me</h2>
            <p class="about-info-text">
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book.
            </p>
            <div class="about-info-links">
                <a href="#" class="about-info-link dark-btn">hire me</a>
                <a href="#" class="about-info-link light-btn">download CV</a>
            </div>
        </div> -->
    </div>
    <!-- end of about -->
    <main>
        <div class="block-container">
            <!-- {% block content %}
        
        {% endblock content %} -->
        </div>
    </main>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="img-holder">
                        <picture>
                            <source srcset="http://via.placeholder.com/30x30">
                            <img src="http://via.placeholder.com/30x30" alt="Eric Anderson" class="img-fluid">
                        </picture>
                    </div>
                    <div class="title">
                        Eric Anderson
                        <div class="sub-title">
                            I'm Front-end Developer. I also
                            specialize in Visual Development and
                            UI/UX design.
                        </div>
                    </div>
                    <div class="email-holder">
                        Email me
                        <div class="email">
                            ericanderson@gmail.com
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="wrapper">
                        <div class="form-group">
                            <div class="title">
                                Contact Me
                                <div class="desc">
                                    Looking forward to connect
                                    and building something 
                                    together!
                                </div>
                            </div>
                            <input type="email" name="email" id="email"
                            class="form-control"
                            placeholder="johndoe@xyz.com"
                            >
                            <button class="btn cta-email">
                                <i class="mdi mdi-send"></i>
                                Let's connect
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hr"></div>
            <div class="info-wrapper">
                <ul class="nav navbar-nav">
                    <li class="nav-items">
                        <a href="/work" class="nav-link">Works</a>
                    </li>
                    <li class="nav-items">
                        <a href="/contact" class="nav-link">Services</a>
                    </li>
                    <li class="nav-items">
                        <a href="/contact" class="nav-link">Collaborate</a>
                    </li>
                    <li class="nav-items">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
                <div class="copyright-holder">
                    <i class="mdi mdi-copyright"></i>
                    2021 Eric Anderson
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'about_me/main.js' %}"></script>
</body>

</html>
<!-- video time  1:44:44-->