<div id="contact-me" class="footer-conainer">
    <div class="contact-info">
        <div class="footer-header-container">
            <h1 class="footer-header">Contact</h1>
            <p>
                I would love to hear about your project and how I could help. 
                Please contact me via email, phone, or by messaging me using the form, 
                and I'll get back to you as soon as possible. Thank you very much.
            </p>
        </div>
        <div class="contact-container">
            <div class="contact-form">
                <form class="message-form" action="{% url 'about_me:contact' %}" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button class="contact-submit" type="submit">Send Message</button>
                </form>
            </div>
            <div class="email-container">
                <h3 class="email">Email <i class="fa fa-envelope"></i></h3>
                <a id="email" href="mailto:shinhosuck1973@gmail.com">shinhosuck1973@gmail.com</a>
            </div>
            <div class="phone-number-container">
                <h3 class="phone">Phone <i class="fa fa-phone"></i></h3>
                <a id="phone" href="tel:+63-928-689-4014">+63 969 352 7097</a>
            </div>
        </div>
    </div>
</div>
<div class="footer-container-2">
    <div class="social-links-container">
        <h3>ericanderson</h3>
        <div class="social-links">
            <a href="https://github.com/shinhosuck" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/eric-anderson-a6b906214/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</div>