{% extends "about_me/base.html" %}
{% load static %}

<title>
    {% block title %}
        Dev Eric Porfolio Website
    {% endblock title %}
</title>


{% block content %}

<!-- introduction -->
<div class="container intro" id="home">
    <h1 class="intro-title">
        Hi, I am <strong>Eric Anderson</strong>
    </h1>
    <p class="intro-paragraph">
        front-end & back-end dev
    </p>
    <img src="{% static 'about_me/images/me.jpg' %}" alt="">
</div>

<!-- my services -->
<div class="container my-services" id="services">
    <h2 class="services-title">
        What I do
    </h2>
   
    <!-- service -->
    <div class="service">
        <h3 class="service-subtitle">Website Design</h3>
        <p class="service-paragraph">
            Lorem Ipsum is simply dummy text of the printing 
            and typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown printer 
            took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>

    <!-- servicce -->
    <div class="service">
        <h3 class="service-subtitle">Website Development</h3>
        <p class="service-paragraph">
            Lorem Ipsum is simply dummy text of the printing 
            and typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown printer 
            took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
    <a href="#" class="services-button">My Work</a>
</div>

<!-- about me -->
<div class="container about-me" id=about>
    <h2 class="about-me-title">Who am I</h2>
    <h3 class="about-me-subtitle">Designer & developer</h3>
    <p class="about-me-paragraph">
        Lorem Ipsum is simply dummy text of the printing 
        and typesetting industry. Lorem Ipsum has been the industry's 
        standard dummy text ever since the 1500s, when an unknown printer 
        took a galley of type and scrambled it to make a type specimen book.
    </p>
    <img src="#" alt="">
</div>

<!-- my work -->
<div class="container my-work">
    <h2 class="my-work-title">My work</h2>
    <!-- <p class="my-work-paragraph"></p> -->
    <div class="portfolio-images">
        <a href="https://aiaiestore.herokuapp.com/" target="_blank" class="portfolio-image">
            <img src="{% static 'about_me/images/project3.png' %}" alt="">
        </a>
        <a href="https://pawpalblog.herokuapp.com/" target="_blank" class="portfolio-image">
            <img src="{% static 'about_me/images/project2.png' %}" alt="">
        </a>
        <a href="https://mydjangomusic.herokuapp.com/" target="_blank" class="portfolio-image">
            <img src="{% static 'about_me/images/project1.png' %}" alt="">
        </a>
    </div>
</div>


{% endblock content %}