{% load static %}

    <nav class="navbar">
        <div class="nav-links-container">
            <div class="brand-name">
                <h4 class="brand-link">ericanderson</h4>
            </div>
            <div class="nav-toggle-btn">
                <i class="fa fa-bars toggle-bars-btn"></i>
                <i class="fa fa-times toggle-times-btn"></i>
            </div>
            <div class="nav-links">
                <a href="#contact-me" class="nav-link">
                    <i class="fa-solid fa-envelope"></i>
                    Contact
                </a>
                <a href="https://docs.google.com/document/d/1PCKXsHPvmur7mJHSiufv_Gid5Axo4LAi/edit?usp=sharing&ouid=112487098966462460918&rtpof=true&sd=true" target="_blank" class="nav-link">
                    <i class="fa-solid fa-file"></i>
                    Resume
                </a>
                <a class="nav-link" href="https://github.com/shinhosuck" target="_blank">
                    <i class="fab fa-github nav-link"></i>
                    GitHub
                </a>
                <a class="nav-link" href="https://www.linkedin.com/in/eric-anderson-a6b906214/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                    LinkedIn
                </a>
            </div>
        </div>
        <div id="about" class="hero-container">
            <div class="hero-image">
                <img src="{% static 'about_me/images/person.webp' %}" alt="">
            </div>
            <div class="hero-text-container">
                <div class="hero-header">
                    <h1 class="hero-text-header">
                        Nice to meet you!
                        <span>I'm <span>Eric Anderson</span>.</span>
                    </h1>
                </div>
                <div class="hero-text-content">
                    <p>
                        I'm a Web Developer originally from San Diego, California, 
                        USA, now based in Baguio City, Philippines. My passion lies in crafting 
                        web applications that connect with users.
                    </p>
                </div>
                <a class="hero-contact-me-btn" href="#contact-me">Contact Me</a>
            </div>
        </div>
    </nav>

   
