<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Email</title>
</head>
<body>
    <div class="container" stle="width: 100%;max-width:600px;margin:0 auto;">
        <table style="padding: 1rem; width: 100%;">
            <tr>
                <td style="padding: 1rem 0; max-width: 400px; font-size: 1.2rem;">
                    <p>You have a new message from {{ email }}.</p>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>