<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Email</title>
</head>
<body>
    <div class="container" stle="width: 100%;max-width:600px;margin:0 auto;">
        <table style="padding: 1rem; width: 100%;">
            <tr>
                <th style="text-align: start; font-size: 1.5rem;">
                    Eric Anderson
                </th>
            </tr>
            <tr>
                <td style="padding: 1rem 0; font-size: 1.2rem; max-width: 400px;">
                    <span style="font-weight: bold; font-size: 1.2rem;">{{ name }}</span>, thank you for the message!
                </td>
            </tr>
            <tr>
                <td>
                    <img style="width: 400px; height: auto; display: block;" src="https://andersonportfolio.pythonanywhere.com/static/about_me/images/person.webp" alt="">
                </td>
            </tr>
            <tr>
                <td style="padding: 1rem 0; max-width: 400px; font-size: 1.2rem;">
                    <p>
                        Thank you for reaching out! I appreciate your message 
                        and will get back to you as soon as possible.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 1rem 0; max-width: 400px; font-size: 1.2rem;">
                    If you have any further questions, feel free to let me know.
                </td>
            </tr>
            <tr>
                <td style="padding: 1rem 0; max-width: 400px; font-size: 1.2rem;">
                    Best regards,
                    Eric M. Anderson
                </td>
            </tr>
            <tr>
                <td style="padding: 1rem 0;">
                    <a href="https://andersonportfolio.pythonanywhere.com/" 
                        style="
                            padding: 0.8rem 1.4rem;
                            color: #ffffff;
                            background: #18bcd1;
                            border-radius: 30px;
                            text-decoration: none;
                            font-size: 1.1rem;
                        "
                    >
                        See portfolio
                    </a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

