{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'about_me/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'about_me/style.css' %}">
    <title>Eric Anderson</title>
</head>
<body>
    
    <section class="section-1">
        <div class="contents">
            <!-- <div class="greeting">
                <h1>Hi, I'm Eric Anderson</h1>
            </div> -->
            
            <div class="dots-and-columns-container">
                <div class="navs">
                    <div class="dots">
                        <div class="icon left-icon"><i class="fa fa-arrow-left"></i></div>
                        <div class="icon right-icon"><i class="fa fa-arrow-right"></i></div>
                        <div class="icon redo-icon"><i class="fas fa-redo"></i></div>
                        <div class="icon home-icon"><i class="fa fa-home"></i></div>
                    </div>
                    <div class="nav-center"><i class="fa fa-lock" aria-hidden="true"></i><p id="text-content">https://www.ericandersonportfolio.herokuapp.com/</p></div>
                    <div class="nav-link">
                        <!-- <a href="#">Contact</a> -->
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <div class="greeting">
                    <h1>Hi, I'm Eric Anderson</h1>
                </div>
                <div class="columns">
                    <div class="left-column">
                        <img class="profile-img" src="{% static 'about_me/images/me.jpg' %}" alt="">
                        <h5 class="p-theme-title">Personalize Theme</h5>

                        <div class="theme-dots">
                            <div id="white" class="theme-dot theme-1" title="theme light"></div>
                            <div id="purple" class="theme-dot theme-2" title="theme purple"></div>
                            <div id="blue" class="theme-dot theme-3" title="theme blue "></div>
                            <div id="green" class="theme-dot theme-4" title="theme green" ></div>
                        </div>

                        <p class="theme-setting">*Theme settings will be saved for <br>your next visit</p>
                    </div>
                    <div class="right-column">
                        <div class="right-column-content">
                            <div class="right-column-text">
                                <h4 class="right-column-title">Building digital products, brands and 
                                    <span>experience.</span></h4>
                                <p class="right-column-para">
                                    A <strong>front-end & back-end developer</strong> in Philippines,
                                    based out of San Diego, California USA. I specialize in Django Framework,
                                    UX/UI, Responsive Web Design and Visual Development.
                                </p>
                                <div class="left-top-corner"></div>
                                <div class="right-top-corner" ></div>
                                <div class="left-bottom-left-corner"></div>
                                <div class="left-bottom-right-corner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-1">
        <div class="contents">
            <h3 class="project-title">Some of my past projects</h3>

            <div class="project-contents">
                <a class="project-content" href="https://aiaiestore.herokuapp.com/" target="_blank">
                    <div id="color-over-lay" class="card-color-over-lay"></div>
                    <div class="project-img">
                        <img src="{% static 'about_me/images/project_img1.png' %}" alt="">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="project-text">
                        <h5 class="card-title">E-commerce</h5>
                        <p class="card-text">
                            A front-end & back-end project for online store website using django framework 
                        </p>
                    </div>
                </a>
                <a class="project-content"  href="https://pawpalblog.herokuapp.com/" target="_blank">
                    <div class="card-color-over-lay"></div>
                    <div class="project-img">
                        <img src="{% static 'about_me/images/project_img2.png' %}" alt="">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="project-text">
                        <h5 class="card-title">Pet Blog</h5>
                        <p class="card-text">A front-end & back-end project for pet blog website using django framework.</p>
                    </div>
                </a>
                <a class="project-content" href="https://mydjangomusic.herokuapp.com/" target="_blank">
                    <div class="card-color-over-lay"></div>
                    <div class="project-img">
                        <img src="{% static 'about_me/images/project_img3.png' %}" alt="">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="project-text">
                        <h5 class="card-title">Cloud Music</h5>
                        <p class="card-text">A front-end & back-end project for a cloud music
                            website using django framework.</p>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <footer class="section-2">
        <h3 class="contact-title">Get in Touch</h3>
        <div class="contact-info">
            <div class="contact-me">
                <h5 class="contact-me-title">Contact Me Via<span>email/phone/LinkedIn</span></h5>
                <div class="contact-me-contents">
                    <div class="contact-me-content">
                        <h6 class="email">Email</h6>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:shinhosuck1973@gmail.com">shinhosuck1973@gmail.com</a>
                    </div>
                    <div class="contact-me-content">
                        <h6 class="phone">Phone</h6>
                        <i class="fa fa-phone"></i>
                        <p>+63 928 689 4014</p>
                    </div>
                    <div class="contact-me-content">
                        <h6 class="linked-in">LinkedIn</h6>
                        <a href="https://www.linkedin.com/in/eric-anderson-a6b906214/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="contact-me">
                <h2 class="contact-title">Leave a Message</h2>
                <p class="contact-text">Looking forward to building something together!</p>
                <form class="form-content" action="{% url 'about_me:contact' %}" method="POST">
                    {% comment %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% endcomment%}
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </footer>

<!-- video: 1:20 -->





    
    <script type="text/javascript" src="{% static 'about_me/main.js' %}"></script>
    <script type="text/javascript">

        change_theme()
        function change_theme(){
            const themeDots = document.querySelector(".theme-dots")
            const sections = document.querySelectorAll(".section-1")
            const themes = [...themeDots.children]
            themes.forEach(function(theme){
                theme.addEventListener("click", function(event){
                    sections.forEach(function(section){
                        console.log(section)
                        section.style.background =  event.currentTarget.id
                    })
                })
            })
        }
    
    
    
    </script>
</body>
</html>