{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" 
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link type="text/css" rel="stylesheet" href="{% static 'about_me/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'about_me/style.css' %}">
    <title>
    {% block title %}
    {% endblock title %}
    </title>

    <style>
        .form-content {
            margin-top: 1rem;
        }
        p > label {
            display: none;
        }
        p > input, textarea {
            display: block;
            width: 100%;
            padding: 0.7rem;
            outline: none;
            border: none;
            margin-top: 0rem;
            border-radius: 5px;
            margin-bottom: 0.7rem;
        }
        /* p > textarea {
            margin-top: 1rem;
        } */
    </style>
</head>
<body>
    <header id="header">
        <nav class="nav-mobile">
            <div class="nav-buttons">
                <i class="fa fa-bars"></i>
                <i class="fa fa-times"></i>
            </div>
            <div class="brand">
                <a class="brand-name-link" href="{% url 'about_me:index' %}" class="brand-name">Digital <span>Samurai</span></a>
            </div>
            <ul class="nav-items-mobile">
                <li class="nav-item"><a href="{% url 'about_me:my_projects' %}">My Projects</a></li>
                <li class="nav-item"><a href="#">About Me</a></li>
                <li class="nav-item"><a href="#footer">Contact</a></li>
            </ul>
        </nav>
       
      

        {% block banner %}
        <div class="header">


            {% if messages %}
                {% for message in messages %}
                <h2 class="message">{{ message }}</h2>
                {% endfor%}
            {% endif %}
            <!-- message for contact form in the footer -->

            <div class="header-text">
                <h1 class="header-title">Building digital products, brands and 
                    <span>experience.</span>
                </h1>
                <p class="header-para">
                    A <strong>front-end & back-end developer</strong> in Philippines,
                    based out of San Diego, California USA. I specialize in Django Framework,
                    UX/UI, Responsive Web Design and Visual Development.
                </p>
                <a href="#" class="header-hire-me-btn">Hire Me</a>
            </div>
            <div class="header-img">
                <img src="{% static 'about_me/images/header_img.jpg' %}" alt="">
            </div>
        </div>
        {% endblock banner%}

        <nav class="nav">
            <div class="brand">
                <a class="brand-name-link" href="{% url 'about_me:index' %}" class="brand-name">Digital <span>Samurai</span></a>
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="{% url 'about_me:my_projects' %}">My Projects</a></li>
                <li class="nav-item"><a href="#">About Me</a></li>
                <li class="nav-item"><a href="#footer">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main id="main">
    {% block content %}

    {% endblock content %}


        <div id="work" class="work-inquire">
            <div class="work-inqure-text-content">
                <h2 class="work-inquire-title">Work Inquiry</h2>
                <p class="work-inquire-text">
                    I'm always open to dicussing about your project,
                    improving your online presence or helping you with your 
                    brand without breaking your bank account.
                </p>
            </div>
            <div class="work-inquire-button">
                <a href="#">Let's Talk</a>
            </div>
        </div>
    </main>

    <footer class="section-2">
        <h3 class="contact-title">Get in Touch</h3>
        <div class="contact-info">
            <div class="contact-me">
                <h5 class="contact-me-title">Contact Me Via<span>email/phone/LinkedIn</span></h5>
                <div class="contact-me-contents">
                    <div class="contact-me-content">
                        <h6 class="email">Email</h6>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:shinhosuck1973@gmail.com">shinhosuck1973@gmail.com</a>
                    </div>
                    <div class="contact-me-content">
                        <h6 class="phone">Phone</h6>
                        <i class="fa fa-phone"></i>
                        <p>+63 928 689 4014</p>
                    </div>
                    <div class="contact-me-content">
                        <h6 class="linked-in">LinkedIn</h6>
                        <a href="https://www.linkedin.com/in/eric-anderson-a6b906214/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="contact-me">
                <h2 class="contact-title">Leave a Message</h2>
                <p class="contact-text">Looking forward to building something together!</p>
                <form class="form-content" action="{% url 'about_me:contact' %}" method="POST">
                    {% comment %}
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% endcomment%}
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static 'about_me/main.js' %}"></script>

    <script>

        const faBars = document.querySelector(".fa-bars")
        const faTimes = document.querySelector(".fa-times")
        const navItemsMobile = document.querySelector(".nav-items-mobile")
        const scrollUpButton = document.querySelector(".scroll-up-button")

        faBars.addEventListener("click", function(){
            faBars.style.display = "none"
            navItemsMobile.classList.add("show-nav-items-mobile")
            faTimes.style.display = "block"
            document.body.style.overflow = "hidden"
        })

        faTimes.addEventListener("click", function(){
            faBars.style.display = "block"
            navItemsMobile.classList.remove("show-nav-items-mobile")
            faTimes.style.display = "none"
            document.body.style.overflow = "scroll"
            
        })

        window.addEventListener("resize", function(){
            if (window.innerWidth <= 720) {
                    navItemsMobile.classList.remove("show-nav-items-mobile")
                    faTimes.style.display = "none"
                    faBars.style.display = "block"
            }
        })

        window.addEventListener("scroll", function(){
            if (window.scrollY > 0) {
                navItemsMobile.classList.remove("show-nav-items-mobile")
                scrollUpButton.classList.add("show-scroll-up-button")
                faBars.style.display = "block"
                faTimes.style.display = "none"
                document.body.style.overflow = "scroll"
                
            }
            else{
                scrollUpButton.classList.remove("show-scroll-up-button")
            }
        })
        
        const idEmail = document.querySelector("#id_email")
        const idMessage = document.querySelector("#id_message")
        idEmail.placeholder = "Please enter your email"
        idMessage.placeholder = "Please enter your message"
    </script>
</body>
</html>