
{% extends "about_me/index.html"%}
{% load static %}


<title>
{% block title %}
    My Portfolio
{% endblock title %}
</title>


{% block banner %}
{% endblock banner %}

{% block content %}
<div class="my-portfolio">
    <h1 class="portfolio-title">My Work <span>click image for more</span></h1>
    <div class="portfolio-cards">
        <div class="portfolio-content">
            <a class="portfolio-image" href="https://aiaiestore.herokuapp.com/" target="_blank">
                <img src="{% static 'about_me/images/project_img1.png' %}" alt="">
                <div class="porfolio-image-color-overlay portfolio-first-image">
                    <i class="fa fa-search"></i>
                </div>
            </a>
            <h2 class="card-title">E-commerce</h2>
            <p class="card-text">A front-end & back-end project for an e-commerce
                website using django framework.
            </p>
        </div>
        <div class="portfolio-content">
            <a class="portfolio-image" href="https://pawpalblog.herokuapp.com/" target="_blank" >
                <img src="{% static 'about_me/images/project_img2.png' %}" alt="">
                <div class="porfolio-image-color-overlay">
                    <i class="fa fa-search"></i>
                </div>
            </a>
            <h2 class="card-title" >Pet Blog</h2>
            <p class="card-text">A front-end & back-end project for a pet blog
                website using django framework.
            </p>
        </div>
        <div class="portfolio-content">
            <a class="portfolio-image" href="https://mydjangomusic.herokuapp.com/" target="_blank">
                <img src="{% static 'about_me/images/project_img3.png' %}" alt="">
                <div class="porfolio-image-color-overlay">
                    <i class="fa fa-search"></i>
                </div>
            </a>
            <h2 class="card-title">Cloud Music</h2>
            <p class="card-text">A front-end & back-end project for a cloud music
                website using django framework.
            </p>
        </div>
    </div>
</div>
<!-- <div id="work" class="work-inquire">
    <div class="work-inqure-text-content">
        <h2 class="work-inquire-title">Work Inquiry</h2>
        <p class="work-inquire-text">
            I'm always open to dicussing about your project,
            improving your online presence or helping you with your 
            brand without breaking your bank account.
        </p>
    </div>
    <div class="work-inquire-button">
        <a href="#">Let's Talk</a>
    </div>
</div> -->
{% endblock content %}